{% extends 'basic.html' %}
{% block btnoverdue %}btn-warning{% endblock btnoverdue %}
{% load due %}
{% block table %}{% for entry in entries %}
{% if entry.status == False and entry|due == True %}
<tr onclick="window.location='{% url 'entry' entry.id%}'" class="point">
  <th scope="row">{{entry.id}}</th>
  <td>{{entry.name}}</td>
  <td>{{entry.father}}</td>
  <td><a href="tel:{{entry.contact_one}}">{{entry.contact_one}}</a></td>
  <td>{{entry.borrow_date}}</td>
  <td>₹{{entry.principal}}</td>
  <td>{{entry.guarantor}}</td>
  <td style="max-width: 200px">{{entry.address}}</td>
</tr>
{% endif %}
{% endfor %} {% endblock table %}
